@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;600;700&display=swap');

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    letter-spacing: 2px;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600; /* Slightly lighter for better rendering */
    letter-spacing: 1px;
    color: #111111; /* Dark gray for contrast */
    text-transform: uppercase;
    display: block; /* Ensure it's not hidden */
    visibility: visible; /* Ensure it's visible */
}







.hero-section {
    background-image: url("/bgimg.jpg"); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

